<div>
  Current time: <%= Time.current.strftime("%H:%M") %> <%= Time.current.zone %>
</div>

<div class="row">
  <div class="col-md-12">

    <%= form_with(model: @timer, role: "form", local: true) do |f|  %>

      <% if @timer.errors.any? %>

        <div class="ui form">
          <div id="error_explanation">
            <div class="header"><%= pluralize(@timer.errors.count, "error") %>:</div><br>
              <% @timer.errors.full_messages.each do |msg| %>
                <span><%= msg %></span><br>
              <% end %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :date, "FIND USD RATE:", class: "labels" %>
        </div>
        <div class="col-sm-8">
          <%= f.date_select :date, class: "form-control", default: @last_date, autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :deadline, "HOLD UNTIL:", class: "labels" %>
        </div>
        <div class="col-sm-8">
          <%= f.datetime_select :deadline, rows: 10, class: "form-control", default: @last_deadline, autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "SHOW", class: "button_to_root" %>
        </div>
      </div>
    <% end %>

  </div>
  <br>
  <div>
    <span>or</span>
    <br>
    <br>
    <a class='back' href="/">BACK</a>
  </div>
</div>
