<h2>Current time zone: <%= Time.current.zone %></h2>
<h3>Current time: <%= Time.current.strftime("%H:%M") %></h3>

<div class="row">
  <div class="col-md-12">

    <%= form_with(model: @timer, role: "form", local: true) do |f|  %>

      <% if @timer.errors.any? %>

        <div class="ui form">
          <div id="error_explanation" class="ui message">
            <div class="header"><%= pluralize(@timer.errors.count, "error") %>:</div>
            <ul class="list">
              <% @timer.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :date %>
        </div>
        <div class="col-sm-8">
          <%= f.date_select :date, class: "form-control", default: @last_date, autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :deadline %>
        </div>
        <div class="col-sm-8">
          <%= f.datetime_select :deadline, rows: 10, class: "form-control", default: @last_deadline, autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
